@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 overflow-x: hidden;

}


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.raleway {
  font-family: "Raleway", sans-serif;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.dm {
  font-family: "DM Sans", sans-serif;
}

.grayish {
  background-color: #D2D6E2;
}

/* .embla {
    overflow: hidden;
  } */
.embla__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

@media screen and (max-width: 600px) {
  .embla__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
}

/* .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }  */
  .cour-border {
    border-radius:0px 0px 180px 180px;
  }

  .prose h1 {
    font-size: 2rem; /* Ensure h1 is large */
    font-weight: bold;
}

.prose p {
    margin-bottom: 1rem; /* Ensure paragraph spacing */
}

.prose ul {
    list-style-type: disc; /* Ensure lists display properly */
}


.spinning_bg {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* width: 600px;
  height: 600px; */
  transform: translate(-50%, -50%);
  /* background: url('/globee.png') no-repeat center center;
  background-size: contain; */
  animation: spin 20s linear infinite;
  /* opacity: 0.2; reduce brightness if needed */
  pointer-events: none; /* so it's non-interactive */
  z-index: 0;
}


@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}