@tailwind base;
@tailwind components;
@tailwind utilities;
.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
  
  .cour-border {
    border-radius:0px 0px 180px 180px;
  }